<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPersonService" transactionFlow="true">
                    <security mode="Message">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9600/PersonService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPersonService" contract="WCFPersonService.IPersonService"
                name="NetTcpBinding_IPersonService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAd+UDmCLk0MceuMhniPjEwf3ehMkgAAAAAQAAAEICAAAwggI+MIIB7KADAgECAhBHuxhsV7lLrUWpFZgLENsdMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwIBcNMTkwMTA1MTgwNzIwWhgPMjA5OTAxMDEwNTAwMDBaMBsxGTAXBgNVBAMTEFBvZGVyb3NhU2VydmljZXMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC38gwkFufGYQ3PYuWL7neYfwYEFdfQU8c/8lotGwRjtwSEIkhTXSA8R1WA+7GUQ6VU4ETRCUGgpsPKgVB90TRMT8tgPGbcPF3psivDu7BNsIzy85H4EXX1ReuGDJTYMLDUFryXOc3Jw/U1sg37J1Ch8ROi+BfFnUBmJwOfyCw1Oh2HwsgNxOCywHvwH8VweRW0bPR/hjBVw8IY52pwRzCOOyUveR5H3bmkJxiHQp90vDx8h0V2Sc/IeSynInVQj2tAxfwhuuHP4W3aV1bRe7lZoSvCZxbJexROyFRyAJMqUCMx4dd6VGBOF2QBe8MiZzimuJttlMuUReqItfcfJFldAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAXF8cK3JSaFSHYZTRflhI6XNP5vjrO3ydI72AzIC8XVj58rVaycofXcydflAcuvuew1AA5rvoaWzWb0GoT/sx5w==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>