<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServicesDefaultBehavior" name="ConsoleAppWCFNetTcpDemo.Services.PersonService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9600/PersonService" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:9601/PersonService/mex"
                  binding="mexTcpBinding"
                  bindingConfiguration="MexTcpBindingServices"
                  contract="IMetadataExchange" listenUriMode="Explicit" />
        <endpoint address="" binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding_Services"
                  contract="ConsoleAppWCFNetTcpDemo.Services.IPersonService" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>

    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_Services" closeTimeout="00:03:00"
                  openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                  transactionFlow="true" transferMode="Buffered" 
                  hostNameComparisonMode="StrongWildcard" listenBacklog="1000"
                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000"
                  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="20971520"
              maxBytesPerRead="4096" maxNameTableCharCount="409500" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="MexTcpBindingServices" />
      </mexTcpBinding>
    </bindings>
    <behaviors >
      <serviceBehaviors>
        <behavior name="ServicesDefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>